page-token-detail {
    .item-ios{
        margin-bottom:$mainMarg!important;
        .label{
            margin:0px;
            width:100%;
            >p{
                @extend .myLabel;
            }
        }
        .container{
            background-color:color($colors,light);
            padding:$mainMarg $mainMarg/2;
            @extend %boxShadow;
            margin: 1px;
            p{
                display:inline-block;
                width:100%;
                margin:$mainMarg 0px 0px;
                span{
                    color:color($colors,color3);
                    @include whiteNormal(15px,1);
                    display:inline-block;
                    max-width:50%;
                    padding:0px $mainMarg/2;
                }
                button{
                    vertical-align: bottom;
                    color: color($colors,color4);
                }
            }
        }

        .item-range{
            width:calc(100% - #{$mainMarg});
            margin:0px auto;
            .range-ios{
                    .range-bar{
                        &.range-bar-active{
                            background:color($colors,color1);
                        }
                    }
            }
        }
    }

}
