<ion-header>
    <ion-navbar>
      <ion-buttons start >
        <button ion-button icon-only menuToggle>
          <ion-icon name="ios-menu"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>Token details</ion-title>
      <ion-buttons end >
        <button ion-button icon-only (click)="logOut()">
          <ion-icon name="ios-log-out"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
  
    <ion-list *ngIf="token"  class="graphs">
  
      <ion-item>
          <p>Token - {{token.name}}</p>
          <span>{{token.description}}</span>
          <hr />
          <div class="container">
              <p>
                <span>Website</span>
                <span>{{token.url}}</span>
              </p>
          </div>
          
          <div class="container">
              <p>
                  <span>Total supply</span>
                  <span>{{token.totalSupply}}</span>
                </p>
          </div>
          
  
          <div class="container">
              <p>
                <span>Issuer</span>
                <span>{{token.ownerAddress}}</span>
              </p>
          </div>

          <div class="container">
              <p>
                <span>Date created</span>
                <span>{{token.dateCreated| date:'yyyy-MM-dd HH:mm a z':'+0800'}}</span>
              </p>
          </div>

          <div class="container">
              <p>
                <span>Start date</span>
                <span>{{token.startTime| date:'yyyy-MM-dd HH:mm a z':'+0800'}}</span>
              </p>
          </div>

          <div class="container">
              <p>
                <span>End date</span>
                <span>{{token.endTime| date:'yyyy-MM-dd HH:mm a z':'+0800'}}</span>
              </p>
          </div>

          <div class="container">
              <p>
                <span>Price</span>
                <span>{{token.price/1000000}}</span>
              </p>
          </div>

        </ion-item>

          <ion-item>
              <p>Issued / remaining supply</p>
              <div class="container">
                <ion-item>
                  <ion-range [(ngModel)]="percentage"  ></ion-range> 
                </ion-item>
                  <p>
                      <span>{{token.issued}} / </span>
                      <span>{{token.remaining}}</span>
                  </p>
              </div>  
            </ion-item>
            
            <ion-card>
              <ion-card-header>Enter amount below to buy</ion-card-header>
              <ion-card-content>
                  <ion-input [(ngModel)]="amount"></ion-input>
                  <button block ion-button color="color2" (click)="buy(amount);">Buy</button>
              </ion-card-content>
            </ion-card>
    </ion-list>
  
    <ion-list *ngIf="holders">
        <p>Token holders - {{holders.total}} in total</p>
        <ion-item *ngFor="let data of holders.addresses">
            
            <div class="container">
                <p>
                  <span>{{data.address}} | quantity : </span> 
                  <span>{{data.balance}}</span> 
                </p>
            </div>
          </ion-item>

    </ion-list>  

  </ion-content>
  