
<ion-header>
    <ion-navbar>
      <ion-buttons start >
        <button ion-button icon-only menuToggle>
          <ion-icon name="ios-menu"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>Request Payment</ion-title>
      <ion-buttons end >
        <button ion-button icon-only (click)="logOut()">
          <ion-icon name="ios-log-out"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  <ion-content padding>
      
      <div *ngFor="let acct of accounts">
        <ion-card>
            <ion-card-content>
                <p>Account - {{acct.alias}}</p>
                <span>{{acct.address}}</span>
                <br />
                <button ion-button color="color2" (click)="copyToClipboard(acct.address);">Copy</button>
                <button ion-button color="color2" (click)="process(acct);">QR code</button>

                <img *ngIf="acct.displayqr" [src]="acct.qrcode" />
            </ion-card-content>
        </ion-card>
      </div>
      <ion-card>
          <ion-card-content>
              <p>Create new account</p>
              <ion-input [(ngModel)]="accountAlias" type="text" placeholder="Enter account alias here"></ion-input>
              <button ion-button color="color2" (click)="createAccount();">Create Account</button>
          </ion-card-content>
      </ion-card>
  </ion-content>
  