
<ion-header>
  <ion-navbar>
    <ion-title>SIGN IN</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div class="appForm">
    <ion-list>
      <!-- password input -->
      <ion-item>
        <ion-label floating>Private key</ion-label>
        <ion-icon name="ios-lock-outline" item-left></ion-icon>
        <ion-input type="text" [(ngModel)]="privateKey"></ion-input>
      </ion-item>
      <!-- Email input -->
      <ion-item *ngIf="address">
          <ion-label floating>Address</ion-label>
          <ion-icon name="ios-home-outline" item-left></ion-icon>
          <ion-input disabled="true" type="text" [(ngModel)]="address"></ion-input>
        </ion-item>
      </ion-list>
      <button  ion-button block color="color2" (click)="getAddress()">Get Address</button>

      <div *ngIf="address">
          <ion-list>
            <ion-item>
              <ion-label floating>First Name</ion-label>
              <ion-icon name="ios-lock-outline" item-left></ion-icon>
              <ion-input type="text" [(ngModel)]="firstName"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Last Name</ion-label>
                <ion-icon name="ios-lock-outline" item-left></ion-icon>
                <ion-input type="text" [(ngModel)]="lastName"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label floating>Email address</ion-label>
                  <ion-icon name="ios-lock-outline" item-left></ion-icon>
                  <ion-input type="text" [(ngModel)]="email"></ion-input>
                </ion-item>
            </ion-list>
        
    <button ion-button block color="color2" (click)="doLogin('SummaryPage')">Sign in</button>
  </div>
</div>
  <!--<p float-right (click)=" presentModal('ForgotPasswordPage')">Forgot Password ?</p>-->
</ion-content>
