<ion-header>
    <ion-navbar>
      <ion-buttons start >
        <button ion-button icon-only menuToggle>
          <ion-icon name="ios-menu"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>Transaction details</ion-title>
      <ion-buttons end >
        <button ion-button icon-only (click)="logOut()">
          <ion-icon name="ios-log-out"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
  
    <ion-list *ngIf="transfer">
  
      <ion-item>
          <div class="container">
              <p>
                <span>Timestamp</span>
                <span>{{transfer.timestamp| date:'yyyy-MM-dd HH:mm a z':'+0800'}}</span>
              </p>
          </div>
          
          <div class="container">
              <p>
                  <span>Amount</span>
                  <span>{{transfer.amount}} {{transfer.tokenName}}</span>
                </p>
          </div>
          
  
          <div class="container">
              <p>
                <span>Status</span>
                <span *ngIf="transfer.confirmed">Confirmed</span>
                <span *ngIf="!transfer.confirmed">Pending</span>
              </p>
          </div>

          <div class="container">
              <p>
                <span>From</span>
                <span>{{transfer.transferFromAddress}}</span>
              </p>
          </div>

          <div class="container">
              <p>
                <span>To</span>
                <span>{{transfer.transferToAddress}}</span>
              </p>
          </div>

        </ion-item>


    </ion-list>
  
    <!-- most use -->

  </ion-content>
  