page-sign-up {
    .header-ios{
        .back-button{
            order: 1!important;
        }
        .toolbar-title-ios {
            text-align: left;
        }
    } 
    .appForm{
        padding:40px 0px;
    }

}
