// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #fff,
  dark:       #000,
  color1:     #3d5e8b,
  color2:     #eb9f0d,
  color3:     #707070,
  color4:     #eeeff1,
  color5:   #383737,
  faceColor:  #3a5a98,
  twitterColor:#65a2d9,
  googleColor:#ff5450
);


// App  Variables
$mainFont:1.3rem;
 $appFonts:(h3:$mainFont + .3,h4:$mainFont + .1,h5:$mainFont,p:$mainFont - .1);
 @each $head , $fontSize in $appFonts {
      #{$head}{
        font-size:$fontSize!important;
      } 
 }

$mainHeight:44px;
$mainRadius:1px;
$mainMarg:10px;
$iconFontSize:2rem; 
$imgThumbnailSize:80px;
// header Variables

$toolbar-ios-height:$mainHeight;
$toolbar-ios-button-font-size:1rem;
$toolbar-ios-title-font-size:$mainFont;
$toolbar-ios-title-font-weight:500;
$toolbar-ios-title-text-align	:center;
$toolBarBackGround:color($colors,color1);
$toolbar-ios-title-text-color:color($colors,light);
$navBarPadding:$mainMarg/2; 
$headerIconSize:2.2rem; 
$headerIconColor:color($colors,light);

// appForm Variables

$floatingLabelHeight:24px; 
$appInputHeight:34px;
$inputFontSize:$mainFont; 
$appFormRadius:1px;
$inputPlaceHolderColor:color($colors,color3);
$inputColor:color($colors,color5);
//main Button Variables  
$button-ios-height:$mainHeight;
$button-ios-border-radius:4px;
$button-ios-font-size:$mainFont;
 
// Side Menu Variables
$menu-width:300px;
$menu-small-width:$menu-width;
$menuItemHeight:34px; 
$menu-ios-background:color($colors,color1);
$menuFont-size:1.5rem;
// Range Variables
$range-ios-bar-height:20px;
$range-ios-slider-height :$range-ios-bar-height;

// checkbox variable
$checkbox-ios-background-color-off:color($colors,light);
$checkbox-ios-background-color-on:color($colors,light);
$checkbox-ios-icon-border-radius:1px;
$checkbox-ios-icon-checkmark-width:2px;
$checkbox-ios-disabled-opacity:1;
$checkbox-ios-icon-size:16px;
$checkbox-ios-icon-checkmark-color:color($colors,color2);
@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
