
<ion-header>
    <ion-navbar>
      <ion-buttons start >
        <button ion-button icon-only menuToggle>
          <ion-icon name="ios-menu"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>Tokens</ion-title>
      <ion-buttons end >
        <button ion-button icon-only (click)="logOut()">
          <ion-icon name="ios-log-out"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  <ion-content>
    <div *ngIf="!tokens">
      Loading tokens...
    </div>
    <div *ngIf="tokens">

    <div class="appForm">
      
      <ion-searchbar [(ngModel)]="terms"></ion-searchbar>
      <p class="myLabel">{{(tokens.total)}} tokens in total</p>
      <ion-grid>
        <ion-row>
          <ion-col col-12 col-md-6 col-lg-4  *ngFor="let item of tokens.tokens| search : terms" (click)="goTo('TokenDetailPage', item)">
            <button ion-item>
              <ion-icon item-right name="md-arrow-dropright"></ion-icon>
                <p><span>Token: </span>{{item.name}} - {{item.abbr}}</p>
                <p><span>Total Supply: </span>{{item.totalSupply}}</p>
                <p><span>Total issued: </span>{{item.issued}}</p>
                <p><span>Registered: </span>{{item.dateCreated}}</p>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>  
  </div>
  </ion-content>
  