// mixin in all App
@mixin placeholder {
    ::-webkit-input-placeholder {@content}
    ::-webkit-textarea-placeholder {@content}
    :-moz-placeholder           {@content}
    ::-moz-placeholder          {@content}
    :-ms-input-placeholder      {@content}  
};
@mixin whiteNormal($height,$lineNum){
    white-space: normal; 
    max-height: $height;
    line-height: $height / $lineNum;
    display: block;
    overflow: hidden;
}
@mixin whiteNoWrap($height){
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    height: $height;
    line-height: $height;
    display: block;
}
@mixin centerHeight($height){
    display:inline-block;
    height:$height;
    width: $height;
    line-height:$height;
    min-height: $height;
    text-align:center;
}
@mixin borderRadius($height){
    @include centerHeight($height);
    border-radius:50%;
}
@mixin position($top,$right,$bottom,$left){
    position:absolute;
    top:$top;
    right:$right;
    left:$left;
    bottom:$bottom;
}

// Padding
[padding]{
    padding:$mainMarg!important;
    .scroll-content{
        padding:$mainMarg!important; 
    }
}
//Style of img Background
.imgBg{
    background-size:100% 100%;
    background-repeat:no-repeat;
    background-position:center center;  
}

// box shadow
%boxShadow{
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.18);
    margin: 0px 2px 3px 0px;
    width:calc(100% - 2px);
}
// Main Button Style
.button-ios{
    margin:0px;
    padding:0px $mainMarg/2;
    .button-inner{
        overflow:hidden;
        color:color($colors,light);
        font-weight:bold;
    }
    &.button-clear-ios{
        opacity:1;
    }
}

//header style
.header-ios{
    .toolbar-ios{
        padding:$navBarPadding;
        .bar-buttons-ios{
            margin:0px;
            display:flex;
        }
        .bar-button-ios{
            width:$toolbar-ios-height - $navBarPadding*2;
            height:$toolbar-ios-height - $navBarPadding*2; 
            min-height:30px;
            min-width:30px;
            padding:0px;
            border-radius:$mainRadius;
            // order:1;
            position:relative;         
            .icon{
                font-size:$headerIconSize!important;
                min-width:auto!important;
                color:$headerIconColor;
            }
            &.activated{
                opacity:1;
            }
            &.bar-button-menutoggle{
                display:inline-block!important;
            }
            &.back-button{
                order:6;
            }
        }
        .toolbar-background-ios{
            border:none!important;
            background-color:$toolBarBackGround;
        }
        .title-ios{
            padding:0px $toolbar-ios-height;
            .toolbar-title{
                color:$headerIconColor;
            }
        }
    }
}

.content-ios{
    background-color:color($colors,color4);
}
.icon{
    &.icon-ios{
        font-size:$iconFontSize;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.label-ios{
    &[floating]{
        transform: translate3d(0, $floatingLabelHeight, 0);
        font-size:$inputFontSize;
        height:$floatingLabelHeight;
        line-height: $floatingLabelHeight;
        margin:0px;
        font-weight:500;
        // transform:scale(1);
    }
}

@include placeholder {
    color: $inputPlaceHolderColor ;
    font-weight:500;
}
.appForm{
    @include placeholder {
        color: $inputPlaceHolderColor ;
        font-weight:500;
    }
    display: inline-block;
    width: 100%;
    .select-icon{
        @include borderRadius($appInputHeight - ($mainMarg + 2px));
        background:color($colors,color2);
        margin:$mainMarg/2 + 1 0px !important;
        .select-icon-inner{
            @include position(2px,0px,0px,0px);
            margin:auto; 
            color: color($colors,light);
        }
    }
    .button-ios{
        &.button-block{
            height:$appInputHeight;;
            border-radius:$appFormRadius;
            @extend %boxShadow;
            .icon{
                font-size:2.2rem;
            }

        }
    }
    button{
        &.item-ios{
            background-color: color($colors,light);
            padding:0px $mainMarg/2;
            @extend %boxShadow;
            .item-inner{
                padding:0px $mainMarg/2;
                background-image:none;  
                .label{
                    font-size:$inputFontSize;
                    color: $inputColor;
                    height: $appInputHeight;
                    line-height: $appInputHeight;
                }
            }
            .icon{
                &[item-right]{
                    @extend .select-icon;
                    color:color($colors,light);
                    &.ion-md-arrow-dropright{
                        &:before{
                            margin: 0px 0px 0px 2px;
                        }
                    }
                }
                &[item-left]{
                    color:color($colors,color1);
                    background:none;
                    margin:0px $mainMarg/2;
                }
            }
        }
    }
    .item-ios{
        &.list-header-ios{
            padding:0px;
            margin:0px;
            border-bottom:none;
            min-height:0px;
            .label-ios{
                @extend .myTitle;
            } 
        }
        &.item-block{
            margin-bottom:$mainMarg;
            &.item-label-floating{
                align-items:flex-end;
                margin-bottom:0px!important;
                ion-icon{
                    &[item-left]{
                        margin:0px $mainMarg/2 0px 0px ;
                        height:$floatingLabelHeight!important;
                        line-height:$floatingLabelHeight!important;
                        min-height:0px;
                    }
                }
                .text-input{
                    margin:0px;
                    height:$floatingLabelHeight!important;
                    line-height:$floatingLabelHeight!important;
                    width:100%;
                    border-bottom:1px solid color($colors,color3);
                    background:none!important;
                }

                &.item-input-has-focus, &.item-input-has-value {
                    .label-ios[floating]{
                        transform: translate3d(0, 0, 0) scale(1);
                    }
                }
            }
            &.item-input{
                .text-input-ios{
                    background-color:color($colors,light); 
                    @extend %boxShadow;
                    height:$appInputHeight;
                    padding:0px $mainMarg;
                    font-size:$inputFontSize;
                    color: $inputColor;
                    border-radius:$appFormRadius;
                }

                textarea{
                    &.text-input{
                        padding:$mainMarg;
                        font-size:$inputFontSize;
                        height:auto;
                        resize: none;
                    }
                }
            }


            &.item-select{
                .select-ios{
                    padding:0px $mainMarg;
                    height:$appInputHeight;
                    line-height:$appInputHeight;
                    background-color:color($colors,light);
                    border-radius: $appFormRadius;
                    @extend %boxShadow;
                    max-width:100%;
                    .select-text{
                        font-size:$inputFontSize;
                        color:$inputColor;
                    }
                }
                &.selectHasImg{
                    ion-select{
                        background-size:$appInputHeight - $mainMarg $appInputHeight - $mainMarg*2;
                        background-position:$mainMarg center;
                        background-repeat:no-repeat;
                        padding-left: $appInputHeight + $mainMarg;
                    }
                }
            }
            .label-ios{
                &[stacked]{
                    @extend .myLabel;
                }
            }
        }
    }
}
// ios item for global
.list-ios{
    margin:0px;
}
.item-ios{
    &.item-block{
        padding:0px;
        background:none;
        min-height:0px;
        &:last-child{
            margin-bottom:0px;
            border:none;
        }
        &:first-of-type{
            border:none;
        }
        .label-ios{
            margin:0px;
            width:100%;
        }
        .item-inner{
            padding:0px;
            border:none!important;
            .input-wrapper{
                align-items: center;
            }
        }
        &.item-checkbox{
            padding:0px;
            align-items: flex-start;
            direction:rtl;
            .checkbox-ios {
                @extend %boxShadow; 
                width:auto;
                 .checkbox-icon{
                     border:none;
                 }
                .checkbox-checked {
                    .checkbox-inner{
                        @include position(-2px,0px,0px ,2px );
                        margin:auto;
                        width: 5px;
                        height: 10px    
                    }
                }
            }
            .label-ios{
                @include whiteNormal(30px,2 );
                color: color($colors,color5);
                height:auto!important;
                font-size:$mainFont - .1 !important;
                padding:0px $mainMarg/2 0px 0px;
                direction:ltr;
            }
        }
    }
}

// Range Style
.item-range{
    .range-knob-handle{
        display:none;
    }
    .range-ios{
        padding:0px;
         .range-bar{
             background:none;
         }
        &.range-disabled{
            opacity:1;
        }
    }
}


.myTitle{
    @include whiteNormal(20px,1);
    color: color($colors,color1);
    font-size:$mainFont - .1;
    margin:0px;
    font-weight:500;
    text-transform:none;
}

.myLabel{
    color:color($colors,color2)!important;
    font-weight:500;
    @include whiteNormal(14px, 1);
    margin:$mainMarg/2 0px;
}

.result{
    @include whiteNormal(20px,1);
    font-size:1.5rem!important;
    font-weight:bold;
    color: color($colors,color1);
    text-align:center;
    text-decoration:underline;
}


// Menu Style

ion-menu{
    &.show-menu{
        top:$toolbar-ios-height + $mainMarg/2;
        left:$mainMarg/2;
        height: 85%;
        .show-backdrop{
            opacity: 0!important;
        }
        .menu-inner{
            max-width:85%;
            .content-ios{
                background-color:transparent;     
                box-shadow: inset 0px -300px 300px -123px rgba(0,0,0,0.6);
                .list-ios{
                    padding:$mainMarg*2 0px;
                    .item-ios{
                        padding:0px $mainMarg/2 ;
                        ion-icon{
                            &[item-left]{
                                margin:0px $mainMarg/2;
                                font-size: $menuFont-size;
                                display:flex;
                                align-items:center;
                                justify-content:center;
                                color: color($colors,color2);
                            }
                        }
                        .label-ios{
                            margin:0px;
                            width:100%;
                            padding:0px $mainMarg/2;
                            font-size:$mainFont;
                            font-weight:400;
                            color: color($colors,light);
                            height:$menuItemHeight;
                            line-height:$menuItemHeight;
                        }
                    }
                }
            }
            .footer{
                padding:0px 30px;
                .button-ios{
                    padding:0px $mainMarg;
                    .button-inner{
                        color:color($colors,color2);
                        font-size:$mainFont;
                        font-weight:400;
                    }
                }
            }
        }
    }
}

.searchItem{
    background: color($colors,light)!important;
    border-radius:$appFormRadius;
    @extend %boxShadow;
    height: $appInputHeight;
    .icon{
        &[item-right]{
            margin:0pc $mainMarg;
            color: color($colors,color2);
            font-size:2.2rem;
            height: $appInputHeight;
            line-height:$appInputHeight;
        }
    }
    .text-input-ios{
        margin:0px;
        width:100%;
        height: $appInputHeight;
        line-height:$appInputHeight;
        padding:0px $mainMarg;
        font-size:$inputFontSize;
        color:$inputColor;
    }
}
.alert-ios{  
    &.select-alert{
        .alert-radio-label{
            white-space:normal;
        }
        .alert-head{
            padding:0px;
            background-color:color($colors,color1);
            h2{
                margin:0px;
                @extend h4;
                padding:0px $mainMarg;
                @include whiteNormal($mainHeight,1 );
                color:color($colors,light);
            }
        }
        .alert-message{
            padding:0px!important;
        }
        [aria-checked=true]{
            .alert-radio-inner{
                border-color:color($colors,color2);
            }
            .alert-radio-label{
                color:color($colors,color2);
            }
        }
        .alert-button-group{
            background-color:color($colors,color1);
            .alert-button{
                border:none!important;
                color: color($colors,light);
                &:first-of-type{
                    background-color:color($colors,color1);
                }
                &:last-of-type{
                    background-color:color($colors,color2);
                }
            }
        }
    }      
}
.acountTitle{
    @extend .myTitle;
    max-height: 16*3px;
    margin-bottom:$mainMarg;
    display: flex;
    flex-wrap: wrap;
    span{
        @include whiteNormal(16px,1);
    }
    .countNum{
        margin: 0px 3px;
        height: 16px;
        line-height: 16px;
    }
}
.countNum{
    color: color($colors,color3);
    position:relative;
    letter-spacing:.1rem;
    display:inline-flex!important;
    span{
        color: color($colors,color2);
    }
}

.platform-ios{
    ion-menu{
        &.show-menu{
            top:$toolbar-ios-height + $mainMarg/2 + 20px;
        }
    }
}