<ion-header>
  <ion-navbar>
    <ion-buttons start >
      <button ion-button icon-only menuToggle>
        <ion-icon name="ios-menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Summary</ion-title>
    <ion-buttons end >
      <button ion-button icon-only (click)="logOut()">
        <ion-icon name="ios-log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <!-- balance and login information  -->
  <ion-grid class="blanceGrid">
    <ion-row>
      <ion-col col-auto>
        <div class="avatarContent">
          <img src="{{base64Image}}" (click)="accessGallery()"/>
          
        </div>
      </ion-col>
      <ion-col col>
        <div class="loginInfo">
          <h5>Welcome</h5>
          <h4>{{restProvider.account.firstName}} {{restProvider.account.lastName}}</h4>
          <span>{{restProvider.account.email}}</span>
          <hr />
          <p>Click on profile picture to update photo</p>
          <div>
          <!--<button  ion-button color="color2" (click)="accessGallery()">Change profile picture</button>-->
            
          </div>

          
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- graphs container -->
  <ion-list class="graphs" *ngIf="restProvider.account">

    <ion-item>
        <p>Account</p>
        <div class="container">
            <p>
              <span>Address</span>
              <span>{{restProvider.account.address}}</span>
            </p>
        </div>
        
        <div class="container">
            <p>
                <span>Private key</span>
                <span>{{restProvider.account.privateKey.substr(0,5)}}**********</span>
              </p>
        </div>
        
      </ion-item>
      <button  ion-button color="color2" (click)="copy(restProvider.account.address)">Copy Address</button>
      <button  ion-button color="color2" (click)="copy(restProvider.account.privateKey)">Copy Private Key</button>
      <p></p>
      <div *ngIf="!accountBalance">
        <ion-item>
          <p>Loading account balance, please wait....</p>
        </ion-item>
      </div>

      <div *ngIf="accountBalance">


          <ion-item>
              <p>Account total net worth</p>
              <div class="container">
                  <p>
                      <span>{{totalBalance}} TRX </span>
                      <span>  |  </span>
                      <span>{{totalBalance * price_btc | number}} BTC</span>
                      <span>  |  </span>
                      <span>{{totalBalance * price_usd | currency:"USD $ " }}</span>
                  </p>
              </div>
            </ion-item>


        <ion-item *ngFor="let balance of accountBalance.balances">
          <p>Available {{balance.name}}</p>
          <div class="container">
              <p>
                <span>{{balance.name}}</span>
                <span>{{balance.balance}}</span>
              </p>
          </div>
        </ion-item>
        

        <ion-item *ngFor="let frozen of accountBalance.frozen.balances">
            <p>Frozen TRX</p>
            <div class="container">
                <ion-item>
                    <ion-range disabled="true" [(ngModel)]="fronzenNetWorth"  ></ion-range> 
                  </ion-item>
                <p>
                  <span>{{frozen.amount/ONE_TRX}}</span>
                  <span>TRX</span>
                  <span>Expires in</span>
                  <span>{{frozen.expires| date:'yyyy-MM-dd HH:mm a z':'+0800'}}</span>
                </p>

            </div>
          </ion-item>
        <button ion-button color="color2" (click)="freeze('freeze')">Freeze</button>
          
          <button  ion-button color="color2" (click)="unfreeze('release')">Unfreeze</button>
          <button  ion-button color="color2" (click)="getAccount()">Reload balance</button>
          
      </div>
      <p></p>
      <div *ngIf="tronPrice">
      <ion-item *ngFor="let price of tronPrice">
          <p>Tron price</p>
        <div class="container">
            <p>
              <span>TRX / BTC</span>
              <span>{{price.price_btc}}</span>
            </p>
        </div>
        
        <div class="container">
            <p>
              <span>TRX / USD</span>
              <span>$ {{price.price_usd}}</span>
            </p>
        </div>
      </ion-item>
    </div> 
  </ion-list>

  <!-- most use -->
  <div class="mostUse">
    <p class="myTitle">Most Use</p>
    <ion-grid>
      <ion-row>
        <ion-col col-3>
          <button block ion-button (click)="goTo('TransferPage')">
            <ion-icon class="banki-transfer"></ion-icon>
            <p>Transfer Payment</p>
          </button>
        </ion-col>
        <ion-col col-3>
          <button block ion-button (click)="goTo('RequestPage')">
            <ion-icon class="banki-converter"></ion-icon>
            <p>Request Payment</p>
          </button>
        </ion-col>
        <ion-col col-3>
          <button block ion-button (click)="goTo('VotePage')" >
            <ion-icon class="banki-exchange"></ion-icon>
            <p>Vote</p>
          </button>
        </ion-col>
        <ion-col col-3>
          <button block ion-button (click)="goTo('ContactUsPage')">
            <ion-icon class="banki-user"></ion-icon>
            <p>Contact</p>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
</ion-content>
