<ion-header>
  <ion-navbar>
    <ion-buttons start >
      <button ion-button icon-only menuToggle>
        <ion-icon name="ios-menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Transfer / Payment </ion-title>
    <ion-buttons end >
      <button ion-button icon-only (click)="logOut()">
        <ion-icon name="ios-log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div class="appForm">
    <ion-list>
      <ion-list-header>
          Transfer
      </ion-list-header>
      <!-- Accoun-From Select -->
      <div *ngIf="!accountBalance">
        <p>Loading account balance, please wait...</p>
      </div>
      <div *ngIf="accountBalance">
      <ion-item *ngFor="let balance of accountBalance.balances">
          <ion-label stacked>From account - {{restProvider.account.address}}</ion-label>
          <ion-input disabled="true" value="{{availableFund + ' TRX'}}"></ion-input>
         
        </ion-item>
      </div>
      <!-- Account-To Select -->
      <ion-item >
        <ion-label stacked>To account</ion-label>
          <ion-input [(ngModel)]="toAccount"></ion-input>
         
      </ion-item>
      <button ion-button block color="color2" (click)="scan()">Scan QR code</button>
        <!-- amount Input -->
      <ion-item>
        <ion-label stacked>Amount</ion-label>
        <ion-input type="num" [(ngModel)]="amount" placeholder="Type here"></ion-input>
      </ion-item> 
    </ion-list> 
  </div>
  
  <button ion-button block color="color2" (click)="transfer()">Continue</button>
  <p class="result" *ngIf="show == true">{{result}}</p>
</ion-content>

