
<ion-header>
    <ion-navbar>
      <ion-buttons start >
        <button ion-button icon-only menuToggle>
          <ion-icon name="ios-menu"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>Cold wallet send payment</ion-title>
      <ion-buttons end >
        <button ion-button icon-only (click)="logOut()">
          <ion-icon name="ios-log-out"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  <ion-content padding>
      

      <ion-item>
        </ion-item>
        <p>Step 1. Scan latest block data from a hot wallet</p>
        <button ion-button full icon-left (click)="scanCode()" color="color2"><ion-icon name="qr-scanner"></ion-icon>Scan latest block data</button>
        <ion-card *ngIf="scannedCode">
            <ion-card-content>
              Result from Scan: {{ scannedCode }}
            </ion-card-content>
          </ion-card>
        

          <ion-card>
              <ion-card-content>
                  <!-- cold wallet-->
                  <ion-list>
    
                      <ion-item >
                          <ion-label stacked>To account</ion-label>
                            <ion-input [(ngModel)]="toAccount"></ion-input>
                        </ion-item>
                        <ion-item>
                          <ion-label stacked>Amount</ion-label>
                          <ion-input type="num" [(ngModel)]="amount" placeholder="Type here"></ion-input>
                        </ion-item> 
                </ion-list>
                
                <p>{{transactionHex}}</p>
    
    <!--               
                  <ion-card>
                    <ion-card-content>
                        <ion-input [(ngModel)]="code" type="text" placeholder="Enter code here"></ion-input>
                        <button ion-button block  color="color2" (click)="process();">Process</button>
            
                        <img *ngIf="displayQrCode()" [src]="generated" />
                    </ion-card-content>
                      
                  </ion-card> -->
                
              </ion-card-content>
          </ion-card>

        <button ion-button full icon-left color="color2" (click)="signTransactionLocally()"><ion-icon name="barcode"></ion-icon>Sign transaction</button>        
        <hr />
        <button ion-button full icon-left color="color2" (click)="createCode()"><ion-icon name="barcode"></ion-icon>Generate transaction QR code</button>        
        <ion-card *ngIf="createdCode">
            <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
            <ion-card-content>
              <p>Value: {{ createdCode }}</p>
            </ion-card-content>
          </ion-card>
         
          


      
  </ion-content>
  