
<ion-header>
    <ion-navbar>
      <ion-buttons start >
        <button ion-button icon-only menuToggle>
          <ion-icon name="ios-menu"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>Vote</ion-title>
      <ion-buttons end >
        <button ion-button icon-only (click)="logOut()">
          <ion-icon name="ios-log-out"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  <ion-content padding>

    <ion-card *ngIf="myVotingList">
      <ion-card-title *ngIf="myVotingList.length>0">
        My votes 
      </ion-card-title>
      <ion-content>
        <p *ngFor="let vote of myVotingList">
          <span>Address</span>
          <span>{{vote.address}}</span>
          <span>{{vote.amount}}</span>
        </p>
      </ion-content>
    </ion-card>

      <p class="myTitle">Candidates</p>
      <ion-grid>
        <ion-row>
          <div *ngIf="witnesses">
            <div class="account">{{(witnesses.length)}} candidates</div>
            <ion-col col-6 col-md-4 col-lg-3 *ngFor="let item of witnesses; let i=index">
              <div>
                <div class="account" >
                  <h5><span>URL</span>{{item.url}}</h5>

                  <p><span>Address</span>{{item.address}}</p>
                  <p><span>Latest block number</span>{{item.latestBlockNumber}}</p>
                  <p><span>Total produced</span>{{item.producedTotal}}</p>
                  <p><span>Total missed</span>{{item.missedTotal}}</p>
                  <p><span>Votes</span>{{item.votes}}</p>
                </div>
              
                <ion-buttons  float-right>
                <button class="vote" ion-button color="color2" (click)="vote(item);">+1</button>
                <button class="vote" ion-button  color="color2" (click)="presentPrompt(item);">+more</button>
              </ion-buttons>
            </div>
            </ion-col>
          </div>
          
        </ion-row>
      </ion-grid>
  </ion-content>
