page-vote {
    .vote{
        min-width: 40px;
        padding-right:10px;
        @include position(-60px,auto,auto,70px);
    }
    ion-card-title{
        padding-left:5px;
    }
    .content-ios{
        .scroll-content{
            padding:$mainMarg 0px !important;
            .myTitle{
                padding:0px $mainMarg;
            }
            p{
                margin:3px;
                @include whiteNormal(28px,2);
                font-weight:400;
                color:color($colors,color5);
            }
            span{
                margin-right: 10px;
                color:color($colors,color3);
                font-size:1.3rem;
            }
            button{
                margin-bottom:$mainMarg;
                    .button-inner{
                        color: color($colors,color4);
                    }
            }
        }
    }
}
