<ion-header>
    <ion-navbar>
      <ion-buttons start >
        <button ion-button icon-only menuToggle>
          <ion-icon name="ios-menu"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>Vote</ion-title>
      <ion-buttons end >
        <button ion-button icon-only (click)="logOut()">
          <ion-icon name="ios-log-out"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>


  <ion-content padding>

      <ion-searchbar [(ngModel)]="terms"></ion-searchbar>
      <div  *ngIf="witnesses">

          <ion-card *ngFor="let item of witnesses | search : terms">
            
              <ion-card-content>
                
                  <h3>{{item.url}}</h3>
                  <p><span>Address</span>{{item.address}}</p>
                  <p><span>Latest block number</span>{{item.latestBlockNumber}}</p>
                  <p><span>Total produced</span>{{item.producedTotal}}</p>
                  <p><span>Total missed</span>{{item.missedTotal}}</p>
                  <p><span>Votes</span>{{item.votes}}</p>
                  <button block ion-button color="color2" (click)="presentPrompt(item);">Vote</button>
              </ion-card-content>
          </ion-card>
      </div>

  </ion-content>
